:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f1f1f1;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* @media screen and (min-width:1200px) {
  body .container {
    margin-top: 160px;
    margin-bottom: 272px;
  }
}

@media screen and (max-width:1919px) {
  body .container {
    margin-top: 76px;
    margin-bottom: 128px;
  }
} */
